name: "Latest version views"

on:
  push:
  schedule:
    # 1st and 15th days of each month at 4:30
    - cron:  '30 4 1,15 * *'
  workflow_dispatch:
    inputs:
      pythonVersion:
        description: 'Python version'
        required: true
        default: '3.13'

jobs:
  execute_all_notebooks:
    name: "Execute all notebooks"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout to workspace
      uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ inputs.pythonVersion != '' && inputs.pythonVersion || '3.13' }}
        architecture: 'x64'
        cache: 'pip'

    - name: Print all environment variables
      run: printenv

    - name: Set bot's name and email
      run: |
        git config --global user.name "Github Action"
        git config --global user.email "action@github.com"

    - name: Install requirements.txt
      run: |
        python -m pip install -U setuptools
        python -m pip install -U pip
        python -m pip install . 

    - name: Execute all notebooks
      run: python util/execute_all_notebooks.py . -r

    - name: Commit changed notebooks
      if: always()
      run: |
        git add *.ipynb && \
        git commit -m "[Github Action] Execute all notebooks" && \
        git checkout . && \
        git pull origin ${GITHUB_REF##*/} --rebase --strategy-option=ours || \
        true

    - name: Push notebooks
      if: always()
      uses: ad-m/github-push-action@v1.0.0
      with:
        branch: ${{ github.ref }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
